* {
  box-sizing: border-box;
}
.container {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}
span {
  color: #ffd569;
}
button {
  color: #ffffff;
  padding: 9px;
  border: 0px;
  margin: 15px;
  background-color: #007bff;
  cursor: pointer;
  outline: none;
}
.image-container {
  display: flex;
  flex-direction: row;
}
.image-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 20px;
  border-radius: 15px;
}
img {
  width: 35%;
  padding: 15px;
}
